**/src-gen/*

# Copied from the ADuCM355 examples repo
RTE/
Debug/
settings/
OUT/
DebugConfig/
Listings/
Objects/
.metadata/
*.uvguix.*
*.uvgui.*
*.dep
*.exe
*.log
*.csv
*.ini
*.xlsx
*.bmp
*.txt
*.lnp
*.dep
*.scvd
*.inp
*.o
*.lst
*.map
*.htm
*.axf
*.d
*.ewt
*.custom_argvars
*.project
*.iex

	
